.titre {
  background-color: #2F4F4F;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px 10px 20px 40px;
  border-bottom: solid 5px #C25100;
}

.titre h1 a, .titre h1 a:active {
  color: #ffffff;
  font-size: 5vw;
  text-decoration:none;
}

.titre a {
  color: #ffffff;
  font-size:2vw;
}

p {
  padding-left:1vw;
  font-size: 1.5vw;
  color: #C25100;
}

table {
  border-collapse: collapse;
}

.row {
  border-top: solid 1px #C25100;
  border-bottom: solid 1px #C25100;
}

.row a {
  vertical-align: middle;
  text-align: left;
  font-size:2vw;
}

.img {
  padding-bottom:0.5vw;
  padding-top:0.5vw;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.team {
  padding-left: 2vw;
  width: 60%;
}

.kopa {
  padding-left: 2vw;
  width: 10%;
}
