.titre {
  background-color: #2F4F4F;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 5px 10px 20px 30px;
  border-bottom: solid 5px #C25100;
}

.titre h1 a {
  color: #ffffff;
  font-size: 7vw;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .titre h1 a {
     font-size: 50px;
  }
}

.titre a {
  color: #ffffff;
  font-size: 3vw;
}
@media screen and (min-width: 700px) {
  .titre a {
     font-size: 20px;
  }
}

.menu a, a:link, a:visited {
  text-align: center;
  font-size: 4vw;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .menu a {
     font-size: 26px;
  }
}

.cell_left {
  background-color: #AAB7B7;
  width : 33%;
  text-align: center;
}

.cell_center {
  background-color: #BBC5C5;
  width : 34%;
  text-align: center;
}

.cell_right {
  background-color: #C9D1D1;
  width : 33%;
  text-align: center;
}

body {
 background-color: #cdcdb4;
}

p {
  padding: 2vw 2vw 2vw 2vw;
  text-align: left;
  font-size: 3vw;
  color: #C25100;
}
@media screen and (min-width: 700px) {
  p {
     font-size: 20px;
  }
}

.about {
  padding: 0vw 3vw 0vw 2vw;
  text-align: justify;
  font-size: 4vw;
  color: #2F4F4F;
}
@media screen and (min-width: 800px) {
  .about {
    font-size: 26px;
    width:750px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
@media screen and (min-width: 800px) {
  table  {
     margin-left: 0vw;
     margin-right: auto;
     width: 800px;
  }
}

.row {
  border-top: solid 1px #C25100;
  border-bottom: solid 1px #C25100;
}

.row a {
  vertical-align: middle;
  text-align: left;
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  .row a {
     font-size: 25px;
  }
}

.kit {
    width : 15%;
}

.img {
  padding-bottom:0.2vw;
  padding-top:0.2vw;
  vertical-align: middle;
  width: 75%;
  height: auto;
}

.team {
  width: 70%;
}

.flag {
  margin-left: 10px;
  vertical-align: middle;
  max-width: 5%;
  height: auto;
}

.kopa {
  padding-right: 1vw;
  width: 10%;
}
