.titre {
  background-color: #2F4F4F;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px 10px 20px 40px;
  border-bottom: solid 5px #C25100;
}

.titre h1 a {
  color: #ffffff;
  font-size: 7vw;
  text-decoration:none;
}
@media screen and (min-width: 700px) {
  .titre h1 a {
     font-size: 50px;
  }
}

.titre a {
  color: #ffffff;
  font-size: 3vw;
}
@media screen and (min-width: 700px) {
  .titre a {
     font-size: 20px;
  }
}

p {
  padding-left:2vw;
  padding-right:2vw;
  text-align: justify;
  font-size: 3vw;
  color: #C25100;
}
@media screen and (min-width: 700px) {
  p {
     font-size: 20px;
  }
}

table {
  border-collapse: collapse;
}

.row {
  border-top: solid 1px #C25100;
  border-bottom: solid 1px #C25100;
}

.row a {
  vertical-align: middle;
  text-align: left;
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  .row a {
     font-size: 25px;
  }
}

.img {
  padding-bottom:0.5vw;
  padding-top:0.5vw;
  vertical-align: middle;
  max-width: 50%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .img {
     max-width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  .img {
     max-width: 30%;
  }
}

.team {
  padding-left: 1vw;
  width: 70%;
}

.kopa {
  padding-right: 1vw;
  width: 10%;
}
